@font-face {
    font-family: 'Jetbrains Mono';
    src: url(../fonts/JetBrainsMono-Medium.ttf);
}

@font-face {
    font-family: 'Verdana';
    src: url(../fonts/Verdana-1.ttf);
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    /* background-color: #080214; */
    background-color: #080614;
}

ul {
    list-style: none;
}

.main-wrapper {
    margin: 0 3vw;
}

.main-wrapper .nav {
    height: 7vw;
}

.main-wrapper .nav .nav-left {
    float: left;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-wrapper .nav .nav-left span {
    font-family: 'Poppins', serif;
    color: #6ab7ff;
    font-size: 1.5vw;
    border-bottom: 3px solid #080614;
}

.main-wrapper .nav .nav-left a {
    font-family: 'Poppins', serif;
    margin-left: 2vw;
    height: 4vw;
    line-height: 4vw;
    color: azure;
    transition: all .5s;
    border-bottom: 2px solid #080614;
}

.main-wrapper .nav .nav-left a:hover {
    border-bottom: 2px solid #6ab7ff;
}

.main-wrapper .nav .nav-right {
    float: right;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.main-wrapper .nav .nav-right .avatar {
    height: 4vw;
    width: 4vw;
    border-radius: 50%;
    border: 1px solid #fff;
}