@font-face {
    font-family: 'Jetbrains Mono';
    src: url(../../../fonts/JetBrainsMono-Medium.ttf);
}

@font-face {
    font-family: 'Verdana';
    src: url(../../../fonts/Verdana-1.ttf);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: white;
}

body {
    /* background-color: #080214; */
    background-color: #080614;
}

ul {
    list-style: none;
}

.main-wrapper {
    margin: 0 3vw;
}

.main-wrapper .nav {
    height: 7vw;
}

.main-wrapper .nav .nav-left {
    float: left;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-wrapper .nav .nav-left a {
    font-family: 'Poppins', serif;
    margin-left: 2vw;
    height: 4vw;
    line-height: 4vw;
    font-size: 1.2vw;
    color: azure;
    transition: all .5s;
    border-bottom: 2px solid #080614;
}

.main-wrapper .nav .nav-left a:hover {
    border-bottom: 2px solid #6ab7ff;
}

.main-wrapper .nav .nav-right {
    float: right;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.main-wrapper .nav .nav-right .avatar {
    height: 4vw;
    width: 4vw;
    border-radius: 50%;
    border: 1px solid #fff;
}

.main-wrapper .nav .nav-right .nav-name {
    color: #fff;
    font-family: 'Poppins', serif;
    font-size: 1.5vw;
    margin-right: 1vw;
}

.main-wrapper .main {
    display: flex;
    flex-direction: row;
    gap: 3vw;
    margin: 0 auto;
    width: 90%;
}

.main-wrapper .main .main-left {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    border-right: 1px solid white;
}

.main-wrapper .main .main-left > h1 {
    color: white;
    font-family: 'Poppins', serif;
    font-size: 3vw;
    font-weight: 400;
}

.main-wrapper .main .main-left .blogs .blog {
    margin: 2vw;
}

.main-wrapper .main .main-left .blogs .blog .blog-author {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-wrapper .main .main-left .blogs .blog .blog-author .blog-title-avatar {
    height: 2vw;
    width: 2vw;
    border-radius: 50%;
    border: 1px solid #ddd;
}

.main-wrapper .main .main-left .blogs .blog .blog-author .blog-author-name {
    margin-left: .5vw;
    font-family: 'Poppins', serif;
    font-size: 1vw;
    color: #ccc;
}

.main-wrapper .main .main-left .blogs .blog .blog-title-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main-wrapper .main .main-left .blogs .blog .blog-title-wrapper .blog-title {
    font-family: 'Poppins', serif;
    color: #eee;
    font-weight: normal;
    font-size: 1.3vw;
    transition: all .3s;
}

.main-wrapper .main .main-left .blogs .blog .blog-title-wrapper .blog-title:hover {
    color: #6ab7ff;
}

.main-wrapper .main .main-left .blogs .blog .blog-title-wrapper .labels {
    display: flex;
    flex-direction: row;
    gap: .3vw;
}

.main-wrapper .main .main-left .blogs .blog .blog-title-wrapper .labels .label {
    font-family: 'Poppins', serif;
    font-size: 1vw;
    padding: 0 .5vw;
    border-radius: 100px;
}

.main-wrapper .main .main-left .blogs .blog .blog-title-wrapper .labels .c {
    background-color: #246ED044;
    color: #246ED0;
}

.main-wrapper .main .main-left .blogs .blog .blog-title-wrapper .labels .cpp {
    background-color: #e13bd844;
    color: #e13bd8;
}

.main-wrapper .main .main-left .blogs .blog .blog-title-wrapper .labels .clang {
    background-color: #e13bd844;
    color: #e13bd8;
}

.main-wrapper .main .main-left .blogs .blog .blog-title-wrapper .labels .gcc {
    background-color: #e13bd844;
    color: #e13bd8;
}

.main-wrapper .main .main-left .blogs .blog .blog-title-wrapper .labels .cmake {
    background-color: #e13bd844;
    color: #e13bd8;
}

.main-wrapper .main .main-left .blogs .blog .blog-title-wrapper .labels .msvc {
    background-color: #e13bd844;
    color: #e13bd8;
}

.main-wrapper .main .main-left .blogs .blog .blog-title-wrapper .labels .java {
    background-color: #9d772544;
    color: #9d7725;
}

.main-wrapper .main .main-left .blogs .blog .blog-title-wrapper .labels .js {
    background-color: #ad971544;
    color: #ad9715;
}

.main-wrapper .main .main-left .blogs .blog .blog-title-wrapper .labels .py {
    background-color: #51ea6344;
    color: #51ea63;
}

.main-wrapper .main .main-left .blogs .blog .blog-title-wrapper .labels .go {
    background-color: #1ec5cb44;
    color: #1ec5cb;
}

.main-wrapper .main .main-left .blogs .blog .blog-title-wrapper .labels .rust {
    background-color: #d5572144;
    color: #d55721;
}

.main-wrapper .main .main-left .blogs .blog .blog-title-wrapper .labels .md {
    background-color: #8ef38044;
    color: #8ef380;
}

.main-wrapper .main .main-left .blogs .blog .blog-title-wrapper .labels .fp {
    background-color: #d9393944;
    color: #d93939;
}

.main-wrapper .main .main-left .blogs .blog .blog-title-wrapper .labels .pl {
    background-color: #29a69344;
    color: #29a693;

}

.main-wrapper .main .main-left .blogs .blog .blog-title-wrapper .labels .os {
    background-color: #87959f44;
    color: #87959f;
}

.main-wrapper .main .main-left .blogs .blog .blog-title-wrapper .labels .linux {
    background-color: #87858f44;;
    color: #87959f;

}

.main-wrapper .main .main-left .blogs .blog .blog-description-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-wrapper .main .main-left .blogs .blog .blog-description-wrapper .blog-description {
    font-family: 'Poppins', serif;
    color: #bbb;
    font-weight: 300;
    font-size: .8vw;
    max-width: 75%;
}

.main-wrapper .main .main-left .blogs .blog .blog-description-wrapper .popular {
    color: #ccc;
    font-family: 'Poppins', serif;
    font-size: 1vw;
}

.main-wrapper .main .main-left .blogs .blog .blog-description-wrapper .popular .popular-num {
    color: white;
    font-family: 'JetBrains Mono', serif;
}

.main-wrapper .main .main-right {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    padding-top: 1vw;
}

.main-wrapper .main .main-right h1 {
    font-family: 'JetBrains Mono', serif;
    font-weight: 500;
    font-size: 2vw;
    color: white;
    white-space: nowrap;
}