#result {
  color-scheme: dark;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  color: #c9d1d9;
  background-color: #0d1117;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}

#result .octicon {
  display: inline-block;
  fill: currentColor;
  vertical-align: text-bottom;
}

#result h1:hover .anchor .octicon-link:before,
#result h2:hover .anchor .octicon-link:before,
#result h3:hover .anchor .octicon-link:before,
#result h4:hover .anchor .octicon-link:before,
#result h5:hover .anchor .octicon-link:before,
#result h6:hover .anchor .octicon-link:before {
  width: 16px;
  height: 16px;
  content: ' ';
  display: inline-block;
  background-color: currentColor;
  -webkit-mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
  mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
}

#result details,
#result figcaption,
#result figure {
  display: block;
}

#result summary {
  display: list-item;
}

#result [hidden] {
  display: none !important;
}

#result a {
  background-color: transparent;
  color: #58a6ff;
  text-decoration: none;
}

#result abbr[title] {
  border-bottom: none;
  text-decoration: underline dotted;
}

#result b,
#result strong {
  font-weight: 600;
}

#result dfn {
  font-style: italic;
}

#result h1 {
  margin: .67em 0;
  font-weight: 600;
  padding-bottom: .3em;
  font-size: 2em;
  border-bottom: 1px solid #21262d;
}

#result mark {
  background-color: rgba(187,128,9,0.15);
  color: #c9d1d9;
}

#result small {
  font-size: 90%;
}

#result sub,
#result sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

#result sub {
  bottom: -0.25em;
}

#result sup {
  top: -0.5em;
}

#result img {
  border-style: none;
  max-width: 100%;
  box-sizing: content-box;
  background-color: #0d1117;
}

#result code,
#result kbd,
#result pre,
#result samp {
  font-family: monospace;
  font-size: 1em;
}

#result figure {
  margin: 1em 40px;
}

#result hr {
  box-sizing: content-box;
  overflow: hidden;
  background: transparent;
  border-bottom: 1px solid #21262d;
  height: .25em;
  padding: 0;
  margin: 24px 0;
  background-color: #30363d;
  border: 0;
}

#result input {
  font: inherit;
  margin: 0;
  overflow: visible;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

#result [type=button],
#result [type=reset],
#result [type=submit] {
  -webkit-appearance: button;
}

#result [type=checkbox],
#result [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

#result [type=number]::-webkit-inner-spin-button,
#result [type=number]::-webkit-outer-spin-button {
  height: auto;
}

#result [type=search]::-webkit-search-cancel-button,
#result [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

#result ::-webkit-input-placeholder {
  color: inherit;
  opacity: .54;
}

#result ::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

#result a:hover {
  text-decoration: underline;
}

#result ::placeholder {
  color: #6e7681;
  opacity: 1;
}

#result hr::before {
  display: table;
  content: "";
}

#result hr::after {
  display: table;
  clear: both;
  content: "";
}

#result table {
  border-spacing: 0;
  border-collapse: collapse;
  display: block;
  width: max-content;
  max-width: 100%;
  overflow: auto;
}

#result td,
#result th {
  padding: 0;
}

#result details summary {
  cursor: pointer;
}

#result details:not([open])>*:not(summary) {
  display: none !important;
}

#result a:focus,
#result [role=button]:focus,
#result input[type=radio]:focus,
#result input[type=checkbox]:focus {
  outline: 2px solid #58a6ff;
  outline-offset: -2px;
  box-shadow: none;
}

#result a:focus:not(:focus-visible),
#result [role=button]:focus:not(:focus-visible),
#result input[type=radio]:focus:not(:focus-visible),
#result input[type=checkbox]:focus:not(:focus-visible) {
  outline: solid 1px transparent;
}

#result a:focus-visible,
#result [role=button]:focus-visible,
#result input[type=radio]:focus-visible,
#result input[type=checkbox]:focus-visible {
  outline: 2px solid #58a6ff;
  outline-offset: -2px;
  box-shadow: none;
}

#result a:not([class]):focus,
#result a:not([class]):focus-visible,
#result input[type=radio]:focus,
#result input[type=radio]:focus-visible,
#result input[type=checkbox]:focus,
#result input[type=checkbox]:focus-visible {
  outline-offset: 0;
}

#result kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
  line-height: 10px;
  color: #c9d1d9;
  vertical-align: middle;
  background-color: #161b22;
  border: solid 1px rgba(110,118,129,0.4);
  border-bottom-color: rgba(110,118,129,0.4);
  border-radius: 6px;
  box-shadow: inset 0 -1px 0 rgba(110,118,129,0.4);
}

#result h1,
#result h2,
#result h3,
#result h4,
#result h5,
#result h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

#result h2 {
  font-weight: 600;
  padding-bottom: .3em;
  font-size: 1.5em;
  border-bottom: 1px solid #21262d;
}

#result h3 {
  font-weight: 600;
  font-size: 1.25em;
}

#result h4 {
  font-weight: 600;
  font-size: 1em;
}

#result h5 {
  font-weight: 600;
  font-size: .875em;
}

#result h6 {
  font-weight: 600;
  font-size: .85em;
  color: #8b949e;
}

#result p {
  margin-top: 0;
  margin-bottom: 10px;
}

#result blockquote {
  margin: 0;
  padding: 0 1em;
  color: #8b949e;
  border-left: .25em solid #30363d;
}

#result ul,
#result ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2em;
}

#result ol ol,
#result ul ol {
  list-style-type: lower-roman;
}

#result ul ul ol,
#result ul ol ol,
#result ol ul ol,
#result ol ol ol {
  list-style-type: lower-alpha;
}

#result dd {
  margin-left: 0;
}

#result tt,
#result code,
#result samp {
  font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
  font-size: 12px;
}

#result pre {
  margin-top: 0;
  margin-bottom: 0;
  font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
  font-size: 12px;
  word-wrap: normal;
}

#result .octicon {
  display: inline-block;
  overflow: visible !important;
  vertical-align: text-bottom;
  fill: currentColor;
}

#result input::-webkit-outer-spin-button,
#result input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
}

#result::before {
  display: table;
  content: "";
}

#result::after {
  display: table;
  clear: both;
  content: "";
}

#result>*:first-child {
  margin-top: 0 !important;
}

#result>*:last-child {
  margin-bottom: 0 !important;
}

#result a:not([href]) {
  color: inherit;
  text-decoration: none;
}

#result .absent {
  color: #f85149;
}

#result .anchor {
  float: left;
  padding-right: 4px;
  margin-left: -20px;
  line-height: 1;
}

#result .anchor:focus {
  outline: none;
}

#result p,
#result blockquote,
#result ul,
#result ol,
#result dl,
#result table,
#result pre,
#result details {
  margin-top: 0;
  margin-bottom: 16px;
}

#result blockquote>:first-child {
  margin-top: 0;
}

#result blockquote>:last-child {
  margin-bottom: 0;
}

#result h1 .octicon-link,
#result h2 .octicon-link,
#result h3 .octicon-link,
#result h4 .octicon-link,
#result h5 .octicon-link,
#result h6 .octicon-link {
  color: #c9d1d9;
  vertical-align: middle;
  visibility: hidden;
}

#result h1:hover .anchor,
#result h2:hover .anchor,
#result h3:hover .anchor,
#result h4:hover .anchor,
#result h5:hover .anchor,
#result h6:hover .anchor {
  text-decoration: none;
}

#result h1:hover .anchor .octicon-link,
#result h2:hover .anchor .octicon-link,
#result h3:hover .anchor .octicon-link,
#result h4:hover .anchor .octicon-link,
#result h5:hover .anchor .octicon-link,
#result h6:hover .anchor .octicon-link {
  visibility: visible;
}

#result h1 tt,
#result h1 code,
#result h2 tt,
#result h2 code,
#result h3 tt,
#result h3 code,
#result h4 tt,
#result h4 code,
#result h5 tt,
#result h5 code,
#result h6 tt,
#result h6 code {
  padding: 0 .2em;
  font-size: inherit;
}

#result summary h1,
#result summary h2,
#result summary h3,
#result summary h4,
#result summary h5,
#result summary h6 {
  display: inline-block;
}

#result summary h1 .anchor,
#result summary h2 .anchor,
#result summary h3 .anchor,
#result summary h4 .anchor,
#result summary h5 .anchor,
#result summary h6 .anchor {
  margin-left: -40px;
}

#result summary h1,
#result summary h2 {
  padding-bottom: 0;
  border-bottom: 0;
}

#result ul.no-list,
#result ol.no-list {
  padding: 0;
  list-style-type: none;
}

#result ol[type=a] {
  list-style-type: lower-alpha;
}

#result ol[type=A] {
  list-style-type: upper-alpha;
}

#result ol[type=i] {
  list-style-type: lower-roman;
}

#result ol[type=I] {
  list-style-type: upper-roman;
}

#result ol[type="1"] {
  list-style-type: decimal;
}

#result div>ol:not([type]) {
  list-style-type: decimal;
}

#result ul ul,
#result ul ol,
#result ol ol,
#result ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

#result li>p {
  margin-top: 16px;
}

#result li+li {
  margin-top: .25em;
}

#result dl {
  padding: 0;
}

#result dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}

#result dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

#result table th {
  font-weight: 600;
}

#result table th,
#result table td {
  padding: 6px 13px;
  border: 1px solid #30363d;
}

#result table tr {
  background-color: #0d1117;
  border-top: 1px solid #21262d;
}

#result table tr:nth-child(2n) {
  background-color: #161b22;
}

#result table img {
  background-color: transparent;
}

#result img[align=right] {
  padding-left: 20px;
}

#result img[align=left] {
  padding-right: 20px;
}

#result .emoji {
  max-width: none;
  vertical-align: text-top;
  background-color: transparent;
}

#result span.frame {
  display: block;
  overflow: hidden;
}

#result span.frame>span {
  display: block;
  float: left;
  width: auto;
  padding: 7px;
  margin: 13px 0 0;
  overflow: hidden;
  border: 1px solid #30363d;
}

#result span.frame span img {
  display: block;
  float: left;
}

#result span.frame span span {
  display: block;
  padding: 5px 0 0;
  clear: both;
  color: #c9d1d9;
}

#result span.align-center {
  display: block;
  overflow: hidden;
  clear: both;
}

#result span.align-center>span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: center;
}

#result span.align-center span img {
  margin: 0 auto;
  text-align: center;
}

#result span.align-right {
  display: block;
  overflow: hidden;
  clear: both;
}

#result span.align-right>span {
  display: block;
  margin: 13px 0 0;
  overflow: hidden;
  text-align: right;
}

#result span.align-right span img {
  margin: 0;
  text-align: right;
}

#result span.float-left {
  display: block;
  float: left;
  margin-right: 13px;
  overflow: hidden;
}

#result span.float-left span {
  margin: 13px 0 0;
}

#result span.float-right {
  display: block;
  float: right;
  margin-left: 13px;
  overflow: hidden;
}

#result span.float-right>span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: right;
}

#result code,
#result tt {
  padding: .2em .4em;
  margin: 0;
  font-size: 85%;
  white-space: break-spaces;
  background-color: rgba(110,118,129,0.4);
  border-radius: 6px;
}

#result code br,
#result tt br {
  display: none;
}

#result del code {
  text-decoration: inherit;
}

#result samp {
  font-size: 85%;
}

#result pre code {
  font-size: 100%;
}

#result pre>code {
  padding: 0;
  margin: 0;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

#result .highlight {
  margin-bottom: 16px;
}

#result .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

#result .highlight pre,
#result pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #161b22;
  border-radius: 6px;
}

#result pre code,
#result pre tt {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

#result .csv-data td,
#result .csv-data th {
  padding: 5px;
  overflow: hidden;
  font-size: 12px;
  line-height: 1;
  text-align: left;
  white-space: nowrap;
}

#result .csv-data .blob-num {
  padding: 10px 8px 9px;
  text-align: right;
  background: #0d1117;
  border: 0;
}

#result .csv-data tr {
  border-top: 0;
}

#result .csv-data th {
  font-weight: 600;
  background: #161b22;
  border-top: 0;
}

#result [data-footnote-ref]::before {
  content: "[";
}

#result [data-footnote-ref]::after {
  content: "]";
}

#result .footnotes {
  font-size: 12px;
  color: #8b949e;
  border-top: 1px solid #30363d;
}

#result .footnotes ol {
  padding-left: 16px;
}

#result .footnotes ol ul {
  display: inline-block;
  padding-left: 16px;
  margin-top: 16px;
}

#result .footnotes li {
  position: relative;
}

#result .footnotes li:target::before {
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -24px;
  pointer-events: none;
  content: "";
  border: 2px solid #1f6feb;
  border-radius: 6px;
}

#result .footnotes li:target {
  color: #c9d1d9;
}

#result .footnotes .data-footnote-backref g-emoji {
  font-family: monospace;
}

#result .pl-c {
  color: #8b949e;
}

#result .pl-c1,
#result .pl-s .pl-v {
  color: #79c0ff;
}

#result .pl-e,
#result .pl-en {
  color: #d2a8ff;
}

#result .pl-smi,
#result .pl-s .pl-s1 {
  color: #c9d1d9;
}

#result .pl-ent {
  color: #7ee787;
}

#result .pl-k {
  color: #ff7b72;
}

#result .pl-s,
#result .pl-pds,
#result .pl-s .pl-pse .pl-s1,
#result .pl-sr,
#result .pl-sr .pl-cce,
#result .pl-sr .pl-sre,
#result .pl-sr .pl-sra {
  color: #a5d6ff;
}

#result .pl-v,
#result .pl-smw {
  color: #ffa657;
}

#result .pl-bu {
  color: #f85149;
}

#result .pl-ii {
  color: #f0f6fc;
  background-color: #8e1519;
}

#result .pl-c2 {
  color: #f0f6fc;
  background-color: #b62324;
}

#result .pl-sr .pl-cce {
  font-weight: bold;
  color: #7ee787;
}

#result .pl-ml {
  color: #f2cc60;
}

#result .pl-mh,
#result .pl-mh .pl-en,
#result .pl-ms {
  font-weight: bold;
  color: #1f6feb;
}

#result .pl-mi {
  font-style: italic;
  color: #c9d1d9;
}

#result .pl-mb {
  font-weight: bold;
  color: #c9d1d9;
}

#result .pl-md {
  color: #ffdcd7;
  background-color: #67060c;
}

#result .pl-mi1 {
  color: #aff5b4;
  background-color: #033a16;
}

#result .pl-mc {
  color: #ffdfb6;
  background-color: #5a1e02;
}

#result .pl-mi2 {
  color: #c9d1d9;
  background-color: #1158c7;
}

#result .pl-mdr {
  font-weight: bold;
  color: #d2a8ff;
}

#result .pl-ba {
  color: #8b949e;
}

#result .pl-sg {
  color: #484f58;
}

#result .pl-corl {
  text-decoration: underline;
  color: #a5d6ff;
}

#result g-emoji {
  display: inline-block;
  min-width: 1ch;
  font-family: "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1em;
  font-style: normal !important;
  font-weight: 400;
  line-height: 1;
  vertical-align: -0.075em;
}

#result g-emoji img {
  width: 1em;
  height: 1em;
}

#result .task-list-item {
  list-style-type: none;
}

#result .task-list-item label {
  font-weight: 400;
}

#result .task-list-item.enabled label {
  cursor: pointer;
}

#result .task-list-item+.task-list-item {
  margin-top: 4px;
}

#result .task-list-item .handle {
  display: none;
}

#result .task-list-item-checkbox {
  margin: 0 .2em .25em -1.4em;
  vertical-align: middle;
}

#result .contains-task-list:dir(rtl) .task-list-item-checkbox {
  margin: 0 -1.6em .25em .2em;
}

#result .contains-task-list {
  position: relative;
}

#result .contains-task-list:hover .task-list-item-convert-container,
#result .contains-task-list:focus-within .task-list-item-convert-container {
  display: block;
  width: auto;
  height: 24px;
  overflow: visible;
  clip: auto;
}

#result ::-webkit-calendar-picker-indicator {
  filter: invert(50%);
}
