@font-face {
    font-family: 'Jetbrains Mono';
    src: url(../../../fonts/JetBrainsMono-Medium.ttf);
}

@font-face {
    font-family: 'Verdana';
    src: url(../../../fonts/Verdana-1.ttf);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

a {
    text-decoration: none;
}

body {
    /* background-color: #080214; */
    background-color: #080614;
}

ul {
    list-style: none;
}

.main-wrapper {
    margin: 0 3vw;
}