html {
  height: 100%;
}
body {
  background-color: white;
  margin: 0;
  height: 100%;
  overflow: hidden;
}
#form {
  padding: 0.25rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 5rem;
  box-sizing: border-box;
}
#input {
  resize: none;
  box-sizing: border-box;
  transition: all 0.2s;
  color: black;
  background-color: white;
  border: 1px solid rgb(51, 54, 57);
  padding: 5px 10px;
  flex-grow: 1;
  border-radius: 3px;
  margin: 0.25rem;
  caret-color: #ac0dac;
}
#input:focus {
  outline: none;
  border: 1px solid #ac0dac;
}
#form > button {
  transition: all 0.5s;
  background: rgb(51, 54, 57);
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
}
#messages {
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100% - 5rem);
  color: black;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.mess {
  overflow: hidden;
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row-reverse;
}
.messleft {
  overflow: hidden;
  width: 100%;
  margin-bottom: 1.5rem;
  display: flex;
}
.mess > div.avatar {
  margin-left: 0.5rem;
  height: 2rem;
  flex-shrink: 0;
  flex-basis: 2rem;
  border-radius: 1rem;
}
.messleft > div.avatar {
  margin-right: 0.5rem;
  height: 2rem;
  flex-shrink: 0;
  flex-basis: 2rem;
  border-radius: 1rem;
}
.mess > div.avatar > img,
.messleft > div.avatar > img {
  border-radius: 1rem;
  width: 2rem;
  height: 2rem;
}
.mess > div.main,
.messleft > div.main {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.mess > div.main > p {
  color: rgb(180, 187, 196);
  font-size: 0.75rem;
  line-height: 1rem;
  text-align: right;
  margin: 0;
}
.messleft > div.main > p {
  color: rgb(180, 187, 196);
  font-size: 0.75rem;
  line-height: 1rem;
  margin: 0;
}
.mess > div.main > div {
  padding-left: 2rem;
  gap: 0.25rem;
  align-items: flex-end;
  flex-direction: row-reverse;
  display: flex;
  margin-top: 0.5rem;
}
.messleft > div.main > div {
  padding-right: 2rem;
  gap: 0.25rem;
  align-items: flex-end;
  display: flex;
  margin-top: 0.5rem;
}
.mess > div.main > div > div {
  word-break: break-all;
  white-space: pre-wrap;
  background-color: #eebfee;
  border-radius: 3px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  min-width: 20px;
}
.messleft > div.main > div > div {
  word-break: break-all;
  background-color: rgb(244, 246, 248);
  border-radius: 3px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
#messages > p {
  color: rgb(180, 187, 196);
  font-size: 0.8rem;
  line-height: 1rem;
  text-align: center;
  margin: 0;
}
