* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

a {
    text-decoration: none;
}

body {
    /* background-color: #080214; */
    background-color: #080614;
}

ul {
    list-style: none;
}

.main-wrapper {
    margin: 0 3vw;
}

.main-wrapper .nav {
    height: 7vw;
}

.main-wrapper .nav .nav-left {
    float: left;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-wrapper .nav .nav-left span {
    font-family: 'Poppins';
    color: #6ab7ff;
    font-size: 1.5vw;
    border-bottom: 3px solid #080614;
}

.main-wrapper .nav .nav-left a {
    font-family: 'Poppins';
    margin-left: 2vw;
    height: 4vw;
    line-height: 4vw;
    font-size: 1.2vw;
    color: azure;
    transition: all .5s;
    border-bottom: 2px solid #080614;
}

.main-wrapper .nav .nav-left a:hover {
    border-bottom: 2px solid #6ab7ff;
}

.main-wrapper .nav .nav-right {
    float: right;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.main-wrapper .nav .nav-right-hidden {
    display: none !important;
}

.main-wrapper .nav .nav-right .avatar {
    height: 4vw;
    width: 4vw;
    border-radius: 50%;
    border: 1px solid #fff;
    overflow: hidden !important;
}

.main-wrapper .original-button {
    border: none;
    font-size: large;
    font-family: 'Poppins', serif;
    margin-right: 2vw;
    background-color: transparent;
}

.main-wrapper .original-button#button-login {
    color: white;
}

.main-wrapper .original-button#button-signup {
    color: #6ab7ff;
}

.main-wrapper .nav-name {
    color: #fff;
    font-family: 'Poppins', serif;
    font-size: 1.5vw;
    margin-right: 1vw;
}

.searchBox {
    display: flex;
    max-width: 230px;
    height: 45px;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    background: #2f3640;
    border-radius: 50px;
    position: relative;
}

.searchButton {
    color: white;
    position: absolute;
    right: 8px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: var(--gradient-2, linear-gradient(90deg, #2AF598 0%, #009EFD 100%));
    border: 0;
    display: inline-block;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

/*hover effect*/
button:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.5) 0 10px 20px;
    transform: translateY(-3px);
}

/*button pressing effect*/
button:active {
    box-shadow: none;
    transform: translateY(0);
}

.searchInput {
    border: none;
    background: none;
    outline: none;
    color: white;
    font-size: 15px;
    padding: 24px 46px 24px 26px;
}



.title h1 {
    /* font-family: 'Jetbrains Mono';
    margin-top: 3vw;
    color: #fff;
    font-size: 4vw; */
    background: linear-gradient(to right, rgb(42, 245, 152), rgb(0, 158, 253));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
    font-family: 'Jetbrains Mono', serif;
    margin-top: 3vw;
    font-size: 5vw;
}

.title h2 {
    font-family: 'Verdana', serif;
    font-size: 1.3vw;
    font-weight: normal;
    margin-bottom: 5vw;
    color: #aaa;
}

.main {
    margin-top: 2vw;
    display: flex;
    flex-direction: row;
}

.main h2 {
    color: #fff;
    font-family: 'Verdana';
    font-weight: normal;
    font-size: 2vw;
    margin-right: 2vw;
}

.main-left {
    display: flex;
    flex-grow: 13;
    flex-direction: column;
}

.main-left .blog-title-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.main-left .blogs .blog {
    margin: 2vw;
}

.main-left .blogs .blog .blog-author {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-left .blogs .blog .blog-author .blog-title-avatar {
    height: 2vw;
    width: 2vw;
    border-radius: 50%;
    border: 1px solid #ddd;
}

.main-left .blogs .blog .blog-author .blog-author-name {
    margin-left: .5vw;
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 1vw;
    color: #ccc;
}

.main-left .blogs .blog .blog-title {
    font-family: 'Poppins';
    color: #eee;
    font-weight: normal;
    font-size: 1.3vw;
    transition: all .3s;
}

.main-left .blogs .blog .blog-title:hover {
    color: #6ab7ff;
}

.main-left .blogs .blog .blog-description {
    font-family: 'Poppins', serif;
    color: #aaa;
    font-weight: 300;
    font-size: 1vw;
}

.main-right {
    display: flex;
    flex-grow: 11;
    flex-direction: column;
}

.main-right-hidden {
    display: none;
}

.main-right#hider {
    display: block;
    color: #fff;
    font-family: 'Poppins', serif;
    font-weight: 500;
    font-size: 3vw;
}

.main-right .main-team .team-name {
    margin: 1vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-right .main-team .team-name .team-avatar {
    height: 3vw;
    width: 3vw;
    margin-right: 1vw;
    border-radius: 50%;
    border: 1px solid #ddd;
}

.main-right .main-team .team-name a {
    font-family: 'Poppins';
    color: #fff;
    font-size: 1vw;
    transition: all .3s;
}

.main-right .main-team .team-name a:hover {
    color: #6ab7ff;
}

.main-right .main-team .team-projects>p {
    font-family: 'Poppins', serif;
    color: #fff;
    font-size: 1.5vw;
    margin-left: 1vw;
}

.main-right .main-team .team-projects .projects .team-project,
.main-right .main-activities .activities .activity {
    margin: 1vw 1vw 1vw 2vw;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-right .main-team .team-projects .projects .team-project .team-project-left,
.main-right .main-activities .activities .activity {
    display: flex;
    flex-direction: column;
}

.main-right .main-team .team-projects .projects .team-project .team-project-left .project-name,
.main-right .main-activities .activities .activity .activity-title {
    font-family: 'Poppins', serif;
    color: #fff;
    font-size: 1.3vw;
    transition: all .3s;
}

.main-right .main-team .team-projects .projects .team-project .team-project-left .project-name:hover,
.main-right .main-activities .activities .activity .activity-title:hover {
    color: #6ab7ff;
}

.main-right .main-team .team-projects .projects .team-project .team-project-left .project-description,
.main-right .main-activities .activities .activity .activity-time {
    font-family: 'Poppins', serif;
    color: #aaa;
    font-weight: 300;
    font-size: 1vw;
}

.main-right .main-team .team-projects .projects .team-project .team-project-right {
    display: flex;
    flex-direction: column;
}

.main-right .main-team .team-projects .projects .team-project .team-project-right .star {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main-right .main-team .team-projects .projects .team-project .team-project-right .star .star-wrapper .star-display {
    display: block;
}

.main-right .main-team .team-projects .projects .team-project .team-project-right .star .star-wrapper .star-hidden {
    display: none;
}

.main-right .main-team .team-projects .projects .team-project .team-project-right p {
    font-family: 'Poppins', serif;
    font-size: 1vw;
    color: white;
}

.footer {
    position: absolute;
    width: 100%;
}